# ðŸ“Š Slowly Changing Dimension Type 2 (SCD2) Demo

1. Load the initial dimension table (`customers.csv`).
2. Load new incoming data (`staging_customer.csv`).
3. Apply SCD2 ETL logic.
4. Compare before vs. after tables.

In [3]:
import pandas as pd
from datetime import datetime

# Load initial dimension and staging
dim = pd.read_csv("data/customers.csv")
stg = pd.read_csv("data/staging_customer.csv")

print("Initial Dimension Table:")
display(dim)

print("Staging Data (new load):")
display(stg)

Initial Dimension Table:

    customer_id     name            city  valid_from    valid_to  is_current
0           101    Alice          Manila  2020-01-01  2021-06-30           0
1           101    Alice            Cebu  2021-07-01         NaN           1
2           102      Bob            Cebu  2020-05-01         NaN           1
3           103  Charlie           Davao  2021-03-10  2022-02-28           0
4           103  Charlie  Cagayan de Oro  2022-03-01         NaN           1
5           104    Diana          Baguio  2019-11-15         NaN           1
6           105   Edward          Makati  2020-04-20  2023-04-30           0
7           105   Edward          Taguig  2023-05-01         NaN           1
8           106   Fatima     Quezon City  2021-08-12         NaN           1
9           107   George            Cebu  2021-01-01  2022-08-31           0
10          107   George           Davao  2022-09-01         NaN           1
11          108   Hannah          Iloilo  2020-02-25         NaN           1
12          109     Ivan           Pasig  2020-12-01  2021-12-31           0
13          109     Ivan          Makati  2022-01-01  2023-06-30           0
14          109     Ivan          Taguig  2023-07-01         NaN           1
15          110    Jenny          Manila  2021-09-10         NaN           1
16          111     Karl         Bacolod  2020-06-20         NaN           1
17          112    Linda            Cebu  2019-05-05  2021-11-30           0
18          112    Linda          Manila  2021-12-01         NaN           1
19          113    Marco           Davao  2021-02-14         NaN           1
20          114     Nina     Quezon City  2020-07-22         NaN           1
21          115    Oscar          Makati  2019-01-01  2022-03-31           0
22          115    Oscar           Pasay  2022-04-01         NaN           1

Staging Data (new load):

    customer_id     name            city
0           101    Alice           Davao
1           102      Bob            Cebu
2           103  Charlie  Cagayan de Oro
3           104    Diana          Baguio
4           105   Edward          Taguig
5           106   Fatima           Pasay
6           107   George           Davao
7           108   Hannah          Iloilo
8           109     Ivan     Mandaluyong
9           110    Jenny          Manila
10          111     Karl         Bacolod
11          112    Linda            Cebu
12          113    Marco           Davao
13          114     Nina          Makati
14          115    Oscar           Pasay
15          116    Paula            Cebu
16          117    Quinn          Iloilo
17          118   Rafael     Quezon City

## ðŸ”„ Apply SCD2 Logic
If the attribute (e.g., city) changes â†’ we close the old record and add a new one.

If the customer is new â†’ we insert them.

If nothing changes â†’ we leave the record as-is.

In [4]:
today = datetime.today().date()
updates = []
inserts = []

for _, row in stg.iterrows():
    current = dim[(dim["customer_id"] == row["customer_id"]) & (dim["is_current"] == 1)]

    if current.empty:
        # New customer
        inserts.append({
            "customer_id": row["customer_id"],
            "name": row["name"],
            "city": row["city"],
            "valid_from": today,
            "valid_to": None,
            "is_current": 1
        })
    else:
        if current.iloc[0]["city"] != row["city"]:
            # Close old record
            dim.loc[current.index, ["valid_to", "is_current"]] = [today, 0]
            # Insert new version
            updates.append({
                "customer_id": row["customer_id"],
                "name": row["name"],
                "city": row["city"],
                "valid_from": today,
                "valid_to": None,
                "is_current": 1
            })
        # else --> No change

if updates:
    dim = pd.concat([dim, pd.DataFrame(updates)], ignore_index=True)
if inserts:
    dim = pd.concat([dim, pd.DataFrame(inserts)], ignore_index=True)

print(f"Inserted: {len(inserts)}, Updated: {len(updates)}, Total now: {len(dim)} rows")

Inserted: 3, Updated: 5, Total now: 31 rows

## âœ… Updated Dimension Table

In [5]:
display(dim.sort_values(["customer_id", "valid_from"]))

    customer_id     name            city  valid_from    valid_to  is_current
23          101    Alice           Davao  2025-09-25        None           1
0           101    Alice          Manila  2020-01-01  2021-06-30           0
1           101    Alice            Cebu  2021-07-01  2025-09-25           0
2           102      Bob            Cebu  2020-05-01         NaN           1
3           103  Charlie           Davao  2021-03-10  2022-02-28           0
4           103  Charlie  Cagayan de Oro  2022-03-01         NaN           1
5           104    Diana          Baguio  2019-11-15         NaN           1
6           105   Edward          Makati  2020-04-20  2023-04-30           0
7           105   Edward          Taguig  2023-05-01         NaN           1
24          106   Fatima           Pasay  2025-09-25        None           1
8           106   Fatima     Quezon City  2021-08-12  2025-09-25           0
9           107   George            Cebu  2021-01-01  2022-08-31           0
10          107   George           Davao  2022-09-01         NaN           1
11          108   Hannah          Iloilo  2020-02-25         NaN           1
25          109     Ivan     Mandaluyong  2025-09-25        None           1
12          109     Ivan           Pasig  2020-12-01  2021-12-31           0
13          109     Ivan          Makati  2022-01-01  2023-06-30           0
14          109     Ivan          Taguig  2023-07-01  2025-09-25           0
15          110    Jenny          Manila  2021-09-10         NaN           1
16          111     Karl         Bacolod  2020-06-20         NaN           1
26          112    Linda            Cebu  2025-09-25        None           1
17          112    Linda            Cebu  2019-05-05  2021-11-30           0
18          112    Linda          Manila  2021-12-01  2025-09-25           0
19          113    Marco           Davao  2021-02-14         NaN           1
27          114     Nina          Makati  2025-09-25        None           1
20          114     Nina     Quezon City  2020-07-22  2025-09-25           0
21          115    Oscar          Makati  2019-01-01  2022-03-31           0
22          115    Oscar           Pasay  2022-04-01         NaN           1
28          116    Paula            Cebu  2025-09-25        None           1
29          117    Quinn          Iloilo  2025-09-25        None           1
30          118   Rafael     Quezon City  2025-09-25        None           1